<!DOCTYPE html>
<html>
<head>
	<title>Amet Studium Box Office</title>
	<link href="../css/boxoffice.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div class="container">
		<header>
  			<nav>
    			<h1><a href="../index.html">Amet Studium</a></h1>
    				<ul>
      					<li> <a href="../index.html" title="Home">Home</a> </li>
      					<li> <a href="newmovies.html" title="New Movie Reviews">New Movie Reviews</a> </li>
      					<li> <a href="boxoffice.html" title="Box Office">Box Office</a> </li>
    				</ul>
  			</nav>
		</header>
		<table>
  			<caption class="grow">
  			2018 Box Office
  			</caption>
  		<thead>
    		<tr>
      			<th scope="col">Rank</th>
      			<th scope="col">Movie Title</th>
      			<th scope="col">Total Gross</th>
     			<th scope="col">Genre</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<td data-label="Rank">1</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Black_Panther_(film)">Black Panther</a></td>
      			<td data-label="Gross">$700,059,566</td>
      			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank">2</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Avengers:_Infinity_War">Avengers: Infinity War</a></td>
      			<td data-label="Gross">$678,815,482 </td>
     			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank">3</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Incredibles_2">Incredibles 2</a></td>
      			<td data-label="Gross">$607,210,045 </td>
      			<td data-label="Genre">Animation</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank">4</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Jurassic_World:_Fallen_Kingdom">Jurassic World: Fallen Kingdom</a></td>
      			<td data-label="Gross">$416,769,345 </td>
      			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank"> 5</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Deadpool_2">Deadpool 2</a></td>
      			<td data-label="Gross">$318,490,305 </td>
      			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank"> 6</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Mission:_Impossible_%E2%80%93_Fallout">Mission Impossible: Fallout</a></td>
      			<td data-label="Gross">$219,866,851 </td>
      			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank">7</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Ant-Man_and_the_Wasp">Ant Man and the Wasp</a></td>
      			<td data-label="Gross">$216,405,348 </td>
      			<td data-label="Genre">Action</td>
    		</tr>
    		<tr>
      			<td scope="row" data-label="Rank">8</td>
      			<td data-label="Title"><a href="https://en.wikipedia.org/wiki/Solo:_A_Star_Wars_Story">Solo: A Star Wars Story</a></td>
      			<td data-label="Gross">$213,767,512 </td>
      			<td data-label="Genre">Adventure</td>
    		</tr>
		</tbody>
	</table>
	</div>
</body>
</html>